<?xml version="1.0"?>
<launch>
  <arg name="use_payload" default="false" />

  <!-- ################################################################### -->
  <!-- Start Gazebo with world running in (max) realtime -->

  <!-- Use this argument to set which world file to open -->
  <arg name="world" value="$(find rl_env)/src/Env/HectorQuad/quad.world"/>
  <!-- Use this argument to decide whether gui should be enabled or not -->
  <arg name="gazebo_gui" default="false" />
  <!-- Extra args to gazebo -->
  <arg name="args" value="" />

  <param name="/use_sim_time" value="true" />

  <!-- Start the headless gazebo -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="true" output="screen"/>

  <!-- Start gazebo gui - if asked for it -->
  <group if="$(arg gazebo_gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

  <!-- ################################################################### -->
  <!-- Spawn quadrotor uav -->
  <arg name="name" default="quadrotor"/>
  <arg name="model" default="$(find rl_env)/src/Env/HectorQuad/quad.gazebo.xacro"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="base_link_frame" default="$(arg tf_prefix)/base_link"/>
  <node pkg="tf2" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 /world /map 100" />
  <arg name="world_frame" default="world"/> <!-- This should actually be "/world". See https://github.com/ros-simulation/gazebo_ros_pkgs/pull/324 -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>

  <arg name="use_ground_truth_for_tf" default="true" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' base_link_frame:=$(arg base_link_frame) world_frame:=$(arg world_frame) use_payload:=$(arg use_payload)" />

  <param name="base_link_frame" type="string" value="$(arg base_link_frame)"/>
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
  <param name="world_frame" type="string" value="$(arg world_frame)"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -x $(arg x)
          -y $(arg y)
          -z $(arg z)
          -model $(arg name)"
    respawn="false" output="screen"/>

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- publish state and tf -->
  <node name="ground_truth_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
    <param name="odometry_topic" value="ground_truth/state" />
    <param name="frame_id" value="/world" />
    <param name="tf_prefix" value="$(arg tf_prefix)" if="$(arg use_ground_truth_for_tf)" />
    <param name="tf_prefix" value="$(arg tf_prefix)/ground_truth" unless="$(arg use_ground_truth_for_tf)" />
  </node>

  <!-- spawn controller -->
  <param name="controller/state_topic" value="" />
  <param name="controller/imu_topic" value="" />
  <rosparam file="$(find rl_env)/src/Env/HectorQuad/controller.yaml" />
  <!-- This node needs to be created in HectorEnv as otherwise we cannot
  control when the controller will begin working.
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="controller/twist"/> -->

  <!-- Choose motors -->
  <arg name="motors" default="robbe_2827-34_epp1045" />
  <rosparam command="load" file="$(find hector_quadrotor_model)/param/quadrotor_aerodynamics.yaml" />
  <rosparam command="load" file="$(find hector_quadrotor_model)/param/$(arg motors).yaml" />

  <!-- ################################################################### -->
  <!-- Start rviz visualization with preset config -->
  <arg name="rviz_gui" value="true" />
  <group if="$(arg rviz_gui)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rl_env)/src/Env/HectorQuad/quad.rviz"/>
  </group>

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" respawn="true" output="screen">
    <param name="target_frame_name" type="string" value="/payload" if="$(arg use_payload)" />
    <param name="target_frame_name" type="string" value="/base_link" unless="$(arg use_payload)" />
    <param name="source_frame_name" type="string" value="/world" />
    <param name="trajectory_update_rate" type="double" value="4.0" />
    <param name="trajectory_publish_rate" type="double" value="0.25" />
  </node>

  <!-- ################################################################### -->
  <arg name="agent" default="pegasus" />
  <arg name="env" default="hectorquad" />

  <!-- Start RLAgent and RLEnv -->
  <node name="RLAgent" pkg="rl_agent" type="agent" args="--agent $(arg agent)" output="screen" required="true" />

  <node name="RLEnvironment" pkg="rl_env" type="env" args="--env $(arg env)" output="screen" required="true" />
</launch>
